body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 60px;
}

.container {
    background-color: #f0f0f0;
    padding: 20px;
    width: 700px;
}

.input-section {
    margin-bottom: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table th,
table td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

.kelipatan-cell {
    background-color: lightgreen;
}